.register-name {
    font-family: 'Raleway-Regular';
}
.email {
    font-family: 'Raleway-Regular';
}
.password {
    font-family: 'Raleway-Regular';
}
.register-btn {
    font-family: 'Raleway-Regular';
}



