.edit-activity {
    &-date {
        font-family: 'Raleway-Regular';
        display: block;
        margin-bottom: 1px;

        &-input {
            font: 400 13.3333px 'Raleway-Regular';
            text-align: center;
            margin-bottom: 5px;
            &:focus {
                outline: none;
            }
        }
    }

    &-time {
        font-family: 'Raleway-Regular';
        margin-right: 12px;
        margin-bottom: 3px;

        &-text {
            font-family: 'Raleway-Regular';
            max-width: 70px;
            border-color: rgb(66, 66, 66);
            height: 22px;
            margin-bottom: 5px;
        }
    }
}

.modal-cancel-btn {
    display: none;
}

.modal-save-btn {
    border: none;
    border-radius: 2px;;
    font-family: 'Raleway-Regular';
    color: #fff;
    background-color:#e27923;
    &:focus {
            outline: none;
        }
}

.create-activity-name {
    font-family: 'Raleway-Regular';
}

.create-activity {
    &-form {
        margin-left: 18px;
    }

    &-title {
        border: none;
        &:focus {
            outline: none;
        }
        margin-bottom: 5px;
        margin-top: 5px;
        width:462px;
    }
}




