.edit-activity {
    &-date {
        margin-right: 12px;
        font-family: 'Raleway-Regular';
    }

    &-time {
        font-family: 'Raleway-Regular';
        margin-right: 12px;
        display: inline-block;

        &-text {
            font-family: 'Raleway-Regular';
            display: inline-block;
            max-width: 70px;
            border-color: rgb(66, 66, 66);
            height: 22px;
        }
    }
}

.custom-input {
    font: 400 13.3333px 'Raleway-Regular';
    text-align: center;
    &:focus {
        outline: none;
    }
}

.delete-btn {
    font-size: 12px;
    float: right;
    font-family: 'Raleway-Regular';
    background-color: rgb(189, 50, 50);
    border: none;
    &:hover {
        background-color: rgb(189, 50, 50);
        border: none;
    }
    &:focus {
        background-color: rgb(189, 50, 50);
        border: none;
    }
}
