.list {
    height: auto;
    background-color:#d7e7d9;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Raleway-Regular';

    &-group {
        position: relative;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        width: 270px;
    }

    &-item {
        position: relative;
        display: block;
        padding: .75rem 1.25rem;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
        border-top-width: 0;
        cursor: pointer;

        &:hover .list-item-edit-btn{
            display: flex;
            align-self: flex-end;
        }

        &-name {
            display: flex;
            align-self: flex-start;
            font-size: 14px;
            color: #565656;
        }

        &-edit-btn {
            display: none;
            font-size: 12px;
            position: absolute;
            right: 12px;
            padding-top: 11px;
            padding-bottom: 11px;
            z-index : 1;
            top: 50%;
            float: right;
            transform: translateY(-50%);
            border: none;
            background: none;
            &:focus {
                outline: none;
            }
        }

    }

    &-title {
        display: block;
        padding: .75rem 1.25rem;
        background-color: #fff;
        border: 1px solid rgba(0,0,0,.125);
        border-top-width: 0;
        display: inline-block;
        font-size: 14px;
        font-weight: bold;
        color: rgb(61, 61, 61);

        &-text {
            display: inline-block;
            margin-top: 3px;
        }
    }

    &-add-btn {
        display: block;
        position: relative;
        z-index: 1;
        padding: 13px;
        margin-left: -15px;
        margin-right: -15px;
        margin-bottom: -11px;
        margin-top: -11px;
        font-size: 14px;
        float: right;
        border: none;
        background: none;
        &:focus {
            outline: none;
        }
    }

}

@media screen and (max-width: 1024px) {
    .list-group {
        position: relative;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-left-radius: .25rem;
        border-bottom-right-radius: .25rem;
        display: flex;
        flex-direction: column;
        padding-left: 0;
        margin-bottom: 0;
        width: 100%;
    }
}



