.navigation {
    background-color: #6c757d;

    &-brand-text {
        display: inline-block;
        color: white;
        font-size: 18px;
        font-weight: lighter;
        margin-bottom: 0px;
        margin-left: 6px;    }
}
